@import url("https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&family=Open+Sans:wght@300;400;500;600;700&display=swap");

:root {
  --primario: #1073ba;
  --secundario: #32d4a4;
  --gris: #252626;
  --inputs: #36393f;
  --blanco: #ffffff;
  --negro: #1f1e1e;
  --grisClaro: #e1e1e1;

  --separacion: 5rem;

  --fuentePrincipal: "Roboto", sans-serif;
  --fuenteSecundaria: "Lato", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.login {
  background: #252626;
  color: var(--blanco);
}

a:link,
a:visited,
a:active {
  text-decoration: none;
  color: unset;
}
