.login_box {
  height: 100vh;
  overflow: hidden;
}

.login_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.login_logo {
  line-height: 1rem;
  transition: all 0.3s ease;
}

.logo_title {
  font-size: 1.5em;
  font-weight: 800;
  letter-spacing: 0.5px;
  margin: 0;
  padding: 0;
}

.login_span {
  font-size: 1.4em;
  font-weight: 700;
}

.title-degradado {
  color: transparent;
  background-color: var(--secundario);
  /* background: linear-gradient(
    to right,
    var(--primario) 0%,
    var(--secundario) 100%
  ); */
  -webkit-background-clip: text;
  background-clip: text;
}

/* Form-Login */

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.form_box {
  width: 100%;
  max-width: 400px;
  padding-bottom: 6rem;
  display: flex;
  flex-direction: column;
}

.ui-inputfield.form_imput {
  width: 100%;
  height: 2.4rem;
  color: var(--blanco);
  border-radius: 8px;
  border: 2px solid #4f545c;
  background-color: var(--inputs);
}
.ui-inputfield.form_imput:focus {
  outline: none;
  border: 2px solid var(--secundario);
  box-shadow: none;
}
.ui-inputfield.form_imput:hover {
  border-color: var(--secundario);
}
.ui-button.form_btn {
  width: 100%;
  height: 2.4rem;
  border-radius: 8px;
  background-color: var(--secundario);
  border: none;
}

.ui-button.form_btn:hover {
  background-color: #2cb98f;
}
